name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: web/package-lock.json
      - run: npm install
        working-directory: web
      - name: Test
        run: npm test
        working-directory: web
